@require '../../../../assets/stylesheets/colors'
@require '../../../../assets/stylesheets/components'

.playlists-grid
  width 100%

  &__container
    @extends .container,
      .container--centered,
      .container--small-padding

  &__grid
    display grid
    grid-template-columns 1fr 1fr 1fr 1fr
    grid-column-gap 15px
    grid-row-gap 30px

  &__empty,
  &__loading
    color $gray
    font-size 32px
    font-weight 300
    text-align center
    margin-top 100px  
    margin-bottom 300px 

@media (min-width: 700px) and (max-width: 899px)
  .playlists-grid
    &__grid
      grid-template-columns 1fr 1fr 1fr

@media (min-width: 450px) and (max-width: 699px)
  .playlists-grid
    &__grid
      grid-template-columns 1fr 1fr

@media (max-width: 449px)
  .playlists-grid
    &__grid
      grid-template-columns 1fr
