@require '../../assets/stylesheets/colors'
@require '../../assets/stylesheets/components'

.footer
  width 100%
  background-color $primary

  &__container
    @extends .container, .container--centered, .container--padded

  &__text
    text-align center
    font-size 16px
    font-weight 400
    line-height 50px
    text-decoration none
    color white
