@require '../../assets/stylesheets/colors'

.header
  background-color $gray
  text-align center

  &__logo
    color $gray-05
    display inline
    font-size 32px
    font-weight 600
    line-height 100px
    text-decoration none
