@require '../../../../assets/stylesheets/colors'
@require '../../../../assets/stylesheets/components'

.playlists-search
  &__container
    @extends .container,
      .container--centered,
      .container--padded

  &__title
    font-size 32px
    font-weight 300
    margin-top 30px
    margin-bottom 0px
    color $gray-95
    letter-spacing 0.5px

  &__input
    background-color #fff
    border 1px solid $gray-20
    border-radius 4px
    height 32px
    width 100%
    transition-duration 200ms
    transition-property border
    transition-timing-function ease
    padding-left 10px
    padding-right 10px
    font-size 14px
    font-weight 300
    box-sizing border-box

  &__input:hover
    border-color $gray-50

  &__input:focus
    border-color $primary
